<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Nest & EJS ❤</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        padding-top: 50px;
      }
      .container {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 50px;
      }
      .proxyBox {
        display: flex;
        gap: 16px;
      }

      .prozyGriny {
        display: flex;
        gap: 10px;
      }
    </style>
  </head>
  <body class="container">
    <div>
      <h1>Курьер</h1>
      <h2>Всего записей: <%= countCourier %></h2>
      <main>
        <form method="POST" action="/saveUrlCourier">
          <label for="url">URL запроса:</label><br />
          <input type="text" name="url" style="width: 600px;" value="<%= urlCourier || '' %>" /><br /><br />
          <button type="submit">Сохранить</button>
        </form>
        <br>
        <form method="POST" action="/submitCourier">
          <textarea style="width: 600px;" name="text" rows="5" cols="40"></textarea>
          <br />
          <button type="submit">Отправить</button>
        </form>
    </div>
    <div class="proxyBox">
      <div class="prozyGriny">
      <div>
        <h1>Прокси Гриша Резидента</h1>
        <form method="POST" action="/submitProxyRez">
          <textarea style="width: 300px;" name="proxy" rows="5" cols="40"></textarea>
          <br />
          <button type="submit">Добавить</button>
        </form>
        <h3>Список прокси:</h3>

        <% if (allProxyRez && allProxyRez.length > 0) { %>
          <ul>
            <% allProxyRez.forEach(proxy => { %>
              <li>
                <p><%= proxy.proxy %></p>
                <form method="POST" action="/deleteProxy">
                  <input type="hidden" name="idProxy" value="<%= proxy.id %>" />
                  <button type="submit">Удалить</button>
                </form>
              </li>
            <% }); %>
          </ul>
        <% } else { %>
          <p>Прокси пока нет</p>
        <% } %>
      </div>
      <div>
        <h1>Прокси Гриша Мобилка</h1>
        <form method="POST" action="/submitProxyMob">
          <textarea style="width: 300px;" name="proxy" rows="5" cols="40"></textarea>
          <br />
          <button type="submit">Добавить</button>
        </form>
        <h3>Список прокси:</h3>

        <% if (allProxyMob && allProxyMob.length > 0) { %>
          <ul>
            <% allProxyMob.forEach(proxy => { %>
              <li>
                <p><%= proxy.proxy %></p>
                <form method="POST" action="/deleteProxy">
                  <input type="hidden" name="idProxy" value="<%= proxy.id %>" />
                  <button type="submit">Удалить</button>
                </form>
              </li>
            <% }); %>
          </ul>
        <% } else { %>
          <p>Прокси пока нет</p>
        <% } %>
      </div>
    </div>
    <div class="prozyGriny">
      <div>
        <h1>Прокси Макс Резидента</h1>
        <form method="POST" action="/submitProxyMaksRez">
          <textarea style="width: 300px;" name="proxyMaks" rows="5" cols="40"></textarea>
          <br />
          <button type="submit">Добавить</button>
        </form>
        <h3>Список прокси:</h3>

        <% if (allProxyMaksRez && allProxyMaksRez.length > 0) { %>
          <ul>
            <% allProxyMaksRez.forEach(proxy => { %>
              <li>
                <p><%= proxy.proxy %></p>
                <form method="POST" action="/deleteProxyMaks">
                  <input type="hidden" name="idProxyMaks" value="<%= proxy.id %>" />
                  <button type="submit">Удалить</button>
                </form>
              </li>
            <% }); %>
          </ul>
        <% } else { %>
          <p>Прокси пока нет</p>
        <% } %>
      </div>
      <div>
        <h1>Прокси Макс Мобилка</h1>
        <form method="POST" action="/submitProxyMaksMob">
          <textarea style="width: 300px;" name="proxyMaks" rows="5" cols="40"></textarea>
          <br />
          <button type="submit">Добавить</button>
        </form>
        <h3>Список прокси:</h3>

        <% if (allProxyMaksMob && allProxyMaksMob.length > 0) { %>
          <ul>
            <% allProxyMaksMob.forEach(proxy => { %>
              <li>
                <p><%= proxy.proxy %></p>
                <form method="POST" action="/deleteProxyMaks">
                  <input type="hidden" name="idProxyMaks" value="<%= proxy.id %>" />
                  <button type="submit">Удалить</button>
                </form>
              </li>
            <% }); %>
          </ul>
        <% } else { %>
          <p>Прокси пока нет</p>
        <% } %>
      </div>
    </div>
  </body>
</html>
